Example2/src/EHR.FhirServer/StructureDefinition/XSD-fhir-by/conceptmap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Thu, Jun 4, 2015 08:04+0000 for FHIR v0.5.0 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="ConceptMap" type="ConceptMap">
    <xs:annotation>
      <xs:documentation>Утверждение взаимосвязи между одним набором концептов и другим или несколькими другими концептами - либо кодовыми системами, либо элементами данных, либо классами в классовых моделях.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ConceptMap">
    <xs:annotation>
      <xs:documentation>Утверждение взаимосвязи между одним набором концептов и другим или несколькими другими концептами - либо кодовыми системами, либо элементами данных, либо классами в классовых моделях.</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="url" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation>URI, используемый для идентификации этой карты соответствия концептов, когда на нее ссылаются в спецификации, модели, проекте или примере (должен быть глобально уникальным URI, и может быть urn:uuid: или urn:oid:).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="identifier" minOccurs="0" maxOccurs="1" type="Identifier">
            <xs:annotation>
              <xs:documentation>Formal identifier that is used to identify this concept map when it is represented in other formats, or referenced in a specification, model, design or an instance.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="version" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Идентификатор, используемый для указания версии карты соответствия концептов, когда на нее ссылаются в спецификации, модели, проекте или примере. Это произвольное значение, контролируемое создателем профиля вручную и это должен быть штамп времени.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Произвольное текстовое название на естественном языке, описывающее карту соответствия концептов.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="useContext" minOccurs="0" maxOccurs="unbounded" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>The content was developed with a focus and intent of supporting the contexts that are listed. These terms may be used to assist with indexing and searching of concept maps.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="publisher" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Имя лица или организации, опубликовавших эту карту соответствия концептов.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="contact" type="ConceptMap.Contact" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Контактные данные для помощи пользователю в поиске и коммуникации с издателем.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Произвольное текстовое описание на естественном языке применения карты соответствия концептов - причина определения, условия использования и др.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="requirements" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Explains why this concept map is needed and why it's been constrained as it has.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="copyright" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Предупреждение об авторском праве на карту концептов и/или ее содержимое A copyright statement relating to the concept map and/or its contents.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="status" minOccurs="1" maxOccurs="1" type="ConformanceResourceStatus">
            <xs:annotation>
              <xs:documentation>Статус карты соответствия концептов.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="experimental" minOccurs="0" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation>Эта ConceptMap была создана в целях тестирования (или обучения/оценки/маркетинга) и не предназначена для реального использования.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="date" minOccurs="0" maxOccurs="1" type="dateTime">
            <xs:annotation>
              <xs:documentation>Дата, когда статус концепт-карты менялся последний раз.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="1" maxOccurs="1" >
            <xs:annotation>
              <xs:documentation>Набор значений - источник концептов этого мэппинга.</xs:documentation>
            </xs:annotation>
            <xs:element name="sourceUri" type="uri"/>
            <xs:element name="sourceReference" type="Reference"/>
          </xs:choice>
          <xs:choice minOccurs="1" maxOccurs="1" >
            <xs:annotation>
              <xs:documentation>Целевой набор значений предоставляет контекст мэппингов. Обратите внимание, что мэппинг происходит между концептами, а не между наборами значений, однако набор значений предоставляет важный контекст того, каким образом принимаются решения о мэппинге концептов.</xs:documentation>
            </xs:annotation>
            <xs:element name="targetUri" type="uri"/>
            <xs:element name="targetReference" type="Reference"/>
          </xs:choice>
          <xs:element name="element" type="ConceptMap.Element" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Мэппинги для отдельного концепта одного набора на один или несколько концептов другого.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConceptMap.Contact">
    <xs:annotation>
      <xs:documentation>Утверждение взаимосвязи между одним набором концептов и другим или несколькими другими концептами - либо кодовыми системами, либо элементами данных, либо классами в классовых моделях.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>The name of an individual to contact regarding the concept map.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="ContactPoint">
            <xs:annotation>
              <xs:documentation>Contact details for individual (if a name was provided) or the publisher.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConceptMap.Element">
    <xs:annotation>
      <xs:documentation>Утверждение взаимосвязи между одним набором концептов и другим или несколькими другими концептами - либо кодовыми системами, либо элементами данных, либо классами в классовых моделях.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="codeSystem" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation>Кодовая система (если источником является набор значений из более чем одной кодовой системы).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="code" minOccurs="0" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation>Идентификатор (код или путь) или элемент, которому делается мэппинг.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="dependsOn" type="ConceptMap.DependsOn" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Ряд дополнительных зависимостей для этого мэппинга. Этот мэппинг применим, только если указанный элемент может быть разрешен и имеет указанное значение.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="map" type="ConceptMap.Map" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Концепт из целевого набора значений, на который делается мэппинг этого концепта.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConceptMap.DependsOn">
    <xs:annotation>
      <xs:documentation>Утверждение взаимосвязи между одним набором концептов и другим или несколькими другими концептами - либо кодовыми системами, либо элементами данных, либо классами в классовых моделях.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="element" minOccurs="1" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation>Ссылка на определенный концепт, который хранит кодированное значение. Это может быть элемент в FHIR-ресурсе, либо конкретная ссылка на элемент данных в другой спецификации (напримерv2), или общая ссылка на вид поля данных, или ссылка на набор значений с соответствующим образом суженным определением.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="codeSystem" minOccurs="1" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation>Кодовая система зависимого кода (если источник/зависимость - это набор значений из нескольких кодовых систем).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="code" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Идентификатор (код или путь) или элемент, от которого зависит / на который ссылается концепт-карта.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConceptMap.Map">
    <xs:annotation>
      <xs:documentation>Утверждение взаимосвязи между одним набором концептов и другим или несколькими другими концептами - либо кодовыми системами, либо элементами данных, либо классами в классовых моделях.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="codeSystem" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation>Кодовая система для целевого кода (если целевым объектом является набор значений из нескольких кодовых систем).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="code" minOccurs="0" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation>Идентификатор (код или путь) или элемент, на который ссылается карта.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="equivalence" minOccurs="1" maxOccurs="1" type="ConceptMapEquivalence">
            <xs:annotation>
              <xs:documentation>Показатель эквивалентности между источником и целевым концептами (учитывая зависимости и производные). Эквивалентность читается от источника к цели (т. е. понятие источника 'шире', чем цели).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="comments" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Описание статуса/вопросов мэппинга, которое передает дополнительную информацию, не представленную в структурированных данных.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="product" type="ConceptMap.DependsOn" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Ряд дополнительных результатов этого мэппинга на другие элементы. Чтобы правильно выполнить этот мэппинг, указанный элемент должен быть отображен на некоторый элемент данных или источник, который есть в данном контексте. Мэппинг всё ещё можно использовать без дополнительных элементов данных, однако на такую эквивалентность нельзя будет полагаться.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ConceptMapEquivalence-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="equivalent">
        <xs:annotation>
          <xs:documentation>The definitions of the concepts mean the same thing (including when structural implications of meaning are considered) (i.e. extensionally identical).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="equal">
        <xs:annotation>
          <xs:documentation>The definitions of the concepts are exactly the same (i.e. only grammatical differences) and structural implications of meaning are identifical or irrelevant (i.e. intensionally identical).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wider">
        <xs:annotation>
          <xs:documentation>The target mapping is wider in meaning than the source concept.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="subsumes">
        <xs:annotation>
          <xs:documentation>The target mapping subsumes the meaning of the source concept (e.g. the source is-a target).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="narrower">
        <xs:annotation>
          <xs:documentation>The target mapping is narrower in meaning that the source concept. The sense in which the mapping is narrower SHALL be described in the comments in this case, and applications should be careful when atempting to use these mappings operationally.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="specialises">
        <xs:annotation>
          <xs:documentation>The target mapping specialises the meaning of the source concept (e.g. the target is-a source).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inexact">
        <xs:annotation>
          <xs:documentation>The target mapping overlaps with the source concept, but both source and target cover additional meaning, or the definitions are imprecise and it is uncertain whether they have the same boundaries to their meaning. The sense in which the mapping is narrower SHALL be described in the comments in this case, and applications should be careful when atempting to use these mappings operationally.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unmatched">
        <xs:annotation>
          <xs:documentation>There is no match for this concept in the destination concept system.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="disjoint">
        <xs:annotation>
          <xs:documentation>This is an explicit assertion that there is no mapping between the source and target concept.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConceptMapEquivalence">
    <xs:annotation>
      <xs:documentation>Степень эквивалентности концептов</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="ConceptMapEquivalence-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
