Example2/src/EHR.FhirServer/StructureDefinition/XSD-fhir-by/operationdefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Thu, Jun 4, 2015 08:04+0000 for FHIR v0.5.0 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="OperationDefinition" type="OperationDefinition">
    <xs:annotation>
      <xs:documentation>Формальное исчисляемое определение операции (для RESTful интерфейса) или именованного запроса (для взаимодействия search).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="OperationDefinition">
    <xs:annotation>
      <xs:documentation>Формальное исчисляемое определение операции (для RESTful интерфейса) или именованного запроса (для взаимодействия search).</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="url" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation>Абсолютный url, используемый для указания на это определение операции при ссылке на него в спецификации, модели, проекте или примере (должен быть глобально уникальным URI).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="version" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Идентификатор, используемый для указания на эту версию профиля, когда на неё ссылаются в спецификации, модели, проекте или примере. Это произвольное значение, управляемое автором профиля вручную, и оно должно быть штампом времени.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Произвольное текстовое название на естественном языке, идентифицирующее этот профиль.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="publisher" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Информация о частном лице или организации, несущем ответственность за публикацию operation definition The name of the individual or organization that published the operation definition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="contact" type="OperationDefinition.Contact" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Contacts to assist a user in finding and communicating with the publisher.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Произвольное текстовое описание профиля и его использования, на естественном языке.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="requirements" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Explains why this operation definition is needed and why it's been constrained as it has.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="status" minOccurs="1" maxOccurs="1" type="ConformanceResourceStatus">
            <xs:annotation>
              <xs:documentation>Статус профиля.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="experimental" minOccurs="0" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation>Этот профиль был создан для тестирования (или обучения/оценки/маркетинга), и не предназначен для реального применения.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="date" minOccurs="0" maxOccurs="1" type="dateTime">
            <xs:annotation>
              <xs:documentation>Дата публикации этой версии профиля.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="kind" minOccurs="1" maxOccurs="1" type="OperationKind">
            <xs:annotation>
              <xs:documentation>Это операция или именованный запрос?</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="idempotent" minOccurs="0" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation>Operations that are idempotent (see [HTTP specification definition of idempotent](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html)) may be invoked by performing an HTTP GET operation instead of a POST.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="code" minOccurs="1" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation>Имя, используемое для вызова этой операции.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="notes" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Дополнительная информация о применении этой операции или именованного запроса.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="base" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>Указывает, что это определение операции является ограничивающим профилем для базового.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="system" minOccurs="1" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation>Указывает, может ли эта операция или именованный запрос вызваться на системном уровне (например без необходимости выбора типа ресурса для этого контекста).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="0" maxOccurs="unbounded" type="code">
            <xs:annotation>
              <xs:documentation>Указывает, может ли эта операция или именованный запрос вызываться на уровне типа ресурса для любого заданного уровня типа ресурса (например без необходимости выбора типа ресурса для этого контекста).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="instance" minOccurs="1" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation>Указывает, может ли эта операция вызваться на конкретном экземпляре одного из заданных типов.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="parameter" type="OperationDefinition.Parameter" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Параметры операции/запроса.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperationDefinition.Contact">
    <xs:annotation>
      <xs:documentation>Формальное исчисляемое определение операции (для RESTful интерфейса) или именованного запроса (для взаимодействия search).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>The name of an individual to contact regarding the operation definition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="ContactPoint">
            <xs:annotation>
              <xs:documentation>Contact details for individual (if a name was provided) or the publisher.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperationDefinition.Parameter">
    <xs:annotation>
      <xs:documentation>Формальное исчисляемое определение операции (для RESTful интерфейса) или именованного запроса (для взаимодействия search).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="name" minOccurs="1" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation>Имя для идентификации параметра.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="use" minOccurs="1" maxOccurs="1" type="OperationParameterUse">
            <xs:annotation>
              <xs:documentation>Это входной или выходной параметр?</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="min" minOccurs="1" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>Минимальное количество раз, которое этот параметр ДОЛЖЕН появиться в запросе или ответе.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="max" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Максимальное количество раз, которое этому элементу разрешено появиться в запросе или ответе.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Описывает значение или использование этого параметра.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="0" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation>Тип этого параметра.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="profile" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>Профиль, устанавливающий правила, которым должен соответствовать этот параметр.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="part" type="OperationDefinition.Part" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Элементы part для параметра с типом Tuple.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperationDefinition.Part">
    <xs:annotation>
      <xs:documentation>Формальное исчисляемое определение операции (для RESTful интерфейса) или именованного запроса (для взаимодействия search).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="name" minOccurs="1" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation>Имя для указания на параметр.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="min" minOccurs="1" maxOccurs="1" type="unsignedInt">
            <xs:annotation>
              <xs:documentation>Минимальное количество раз, которое этот параметр ДОЛЖЕН появиться в запросе или ответе.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="max" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Максимальное количество раз, которое этому элементу разрешено появиться в запросе или ответе.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Описывает значение или использование этого параметра.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation>Тип этого параметра.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="profile" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>Профиль, определяющий правила, которым этот параметр должен соответствовать.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OperationParameterUse-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="in">
        <xs:annotation>
          <xs:documentation>This is an input parameter.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="out">
        <xs:annotation>
          <xs:documentation>This is an output parameter.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OperationParameterUse">
    <xs:annotation>
      <xs:documentation>Является ли параметр операции выходным или выходным</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="OperationParameterUse-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OperationKind-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="operation">
        <xs:annotation>
          <xs:documentation>This operation is invoked as an operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="query">
        <xs:annotation>
          <xs:documentation>This operation is a named query, invoked using the search mechanism.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OperationKind">
    <xs:annotation>
      <xs:documentation>Это обычная операция или запрос?</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="OperationKind-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
