Example2/src/EHR.FhirServer/StructureDefinition/XSD-fhir-by/provenance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Thu, Jun 4, 2015 08:04+0000 for FHIR v0.5.0 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="Provenance" type="Provenance">
    <xs:annotation>
      <xs:documentation>Происхождение ресурса - это запись, описывающая сущности и процессы, вовлеченные в создание и доставку или иное воздействие на ресурс. Происхождение обеспечивает необходимую основу для оценки подлинности, возможности доверия и  воспроизводимости. Утверждения о происхождении имеют форму контекстуальных метаданных и сами могут стать важными записями со своим собственным происхождением. Заявление о происхождении показывает  клиническую значимость с точки зрения уверенности в подлинности, надежности, достоверности, целостности и стадии жизненного цикла (например, Document Completion - имеет артефакт юридической проверки подлинности), каждое из которых может повлиять на политики безопасности, конфиденциальности и доверия.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Provenance">
    <xs:annotation>
      <xs:documentation>Происхождение ресурса - это запись, описывающая сущности и процессы, вовлеченные в создание и доставку или иное воздействие на ресурс. Происхождение обеспечивает необходимую основу для оценки подлинности, возможности доверия и  воспроизводимости. Утверждения о происхождении имеют форму контекстуальных метаданных и сами могут стать важными записями со своим собственным происхождением. Заявление о происхождении показывает  клиническую значимость с точки зрения уверенности в подлинности, надежности, достоверности, целостности и стадии жизненного цикла (например, Document Completion - имеет артефакт юридической проверки подлинности), каждое из которых может повлиять на политики безопасности, конфиденциальности и доверия.</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="target" minOccurs="1" maxOccurs="unbounded" type="Reference">
            <xs:annotation>
              <xs:documentation>Ссылки, которые были сгенерированы или обновлены активностью, описанной в данном ресурсе. Происхождение может указывать на больше чем одну цель, если несколько ресурсов были созданы/обновлены в рамках одной активности.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="period" minOccurs="0" maxOccurs="1" type="Period">
            <xs:annotation>
              <xs:documentation>Период, в течение которого произошла активность.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="recorded" minOccurs="1" maxOccurs="1" type="instant">
            <xs:annotation>
              <xs:documentation>Момент времени, в который активность была записана.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="reason" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>Причина, по которой имела место активность.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="location" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation>Где произошла активность, если это уместно.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="policy" minOccurs="0" maxOccurs="unbounded" type="uri">
            <xs:annotation>
              <xs:documentation>Политика или план, по которому произошла активность. Как правило, отдельная активность может иметь несколько применимых документов политики, такие как согласие пациента, гарант финансирования и т. п.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="agent" type="Provenance.Agent" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Агент играет определенную роль в активности, таким образом агенту может быть присвоена некоторая степень ответственности за идущую активность. Агент может быть человеком, организацией, программным обеспечением или другими сущностями, которым может быть приписана ответственность.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="entity" type="Provenance.Entity" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сущность, использованная в этой активности.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="signature" minOccurs="0" maxOccurs="unbounded" type="Signature">
            <xs:annotation>
              <xs:documentation>A digital signature on the target Reference(s). The signer should match a Provenance.agent. The purpose of the signature is indicated.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Provenance.Agent">
    <xs:annotation>
      <xs:documentation>Происхождение ресурса - это запись, описывающая сущности и процессы, вовлеченные в создание и доставку или иное воздействие на ресурс. Происхождение обеспечивает необходимую основу для оценки подлинности, возможности доверия и  воспроизводимости. Утверждения о происхождении имеют форму контекстуальных метаданных и сами могут стать важными записями со своим собственным происхождением. Заявление о происхождении показывает  клиническую значимость с точки зрения уверенности в подлинности, надежности, достоверности, целостности и стадии жизненного цикла (например, Document Completion - имеет артефакт юридической проверки подлинности), каждое из которых может повлиять на политики безопасности, конфиденциальности и доверия.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="role" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>Функция агента по отношения к этой активности.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>Тип участия агента.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0" maxOccurs="1" >
            <xs:annotation>
              <xs:documentation>Указание участника в виде ресурса или URI.</xs:documentation>
            </xs:annotation>
            <xs:element name="referenceUri" type="uri"/>
            <xs:element name="referenceReference" type="Reference"/>
          </xs:choice>
          <xs:element name="display" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Человекочитаемое описание участника.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Provenance.Entity">
    <xs:annotation>
      <xs:documentation>Происхождение ресурса - это запись, описывающая сущности и процессы, вовлеченные в создание и доставку или иное воздействие на ресурс. Происхождение обеспечивает необходимую основу для оценки подлинности, возможности доверия и  воспроизводимости. Утверждения о происхождении имеют форму контекстуальных метаданных и сами могут стать важными записями со своим собственным происхождением. Заявление о происхождении показывает  клиническую значимость с точки зрения уверенности в подлинности, надежности, достоверности, целостности и стадии жизненного цикла (например, Document Completion - имеет артефакт юридической проверки подлинности), каждое из которых может повлиять на политики безопасности, конфиденциальности и доверия.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="role" minOccurs="1" maxOccurs="1" type="ProvenanceEntityRole">
            <xs:annotation>
              <xs:documentation>Каким образом сущность использовалась во время активности.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="Coding">
            <xs:annotation>
              <xs:documentation>Тип сущности. Если сущностью является ресурс, тогда это тип ресурса.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="reference" minOccurs="1" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation>Идентификация используемой сущности. Может быть логическим или физическим uri, абсолютным или относительным.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="display" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Человекочитаемое описание сущности.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="agent" type="Provenance.Agent" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Сущность приписывается агенту для выражения ответственности агента за эту сущность, возможно наряду с другими агентами. Это описание можно понимать как краткую запись того, что агент несет ответственность за активность, которая генерирует эту сущность.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ProvenanceEntityRole-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="derivation">
        <xs:annotation>
          <xs:documentation>A transformation of an entity into another, an update of an entity resulting in a new one, or the construction of a new entity based on a preexisting entity.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="revision">
        <xs:annotation>
          <xs:documentation>A derivation for which the resulting entity is a revised version of some original.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="quotation">
        <xs:annotation>
          <xs:documentation>The repeat of (some or all of) an entity, such as text or image, by someone who may or may not be its original author.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="source">
        <xs:annotation>
          <xs:documentation>A primary source for a topic refers to something produced by some agent with direct experience and knowledge about the topic, at the time of the topic's study, without benefit from hindsight.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ProvenanceEntityRole">
    <xs:annotation>
      <xs:documentation>How an entity was used in an activity</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="ProvenanceEntityRole-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
